/* Loading spinner */
.loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #a3a3a3; /* Blue */
    border-radius: 50%;
    height: 20px;
    width: 20px;
    animation: spin 4s linear infinite;
    display: none;
    margin-right: auto;
    margin-left: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}